.Dashboard-container {
  width: 100vw;
  @include flex-col;
  align-items: flex-end;
  transition: 1s all ease-out;
  padding-bottom: 10vh;

  @include mobile {
    &.Open {
      transition: 0.6s all ease-in-out;
      filter: blur(7px);
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .Dashboard-container-inner {
    width: 83%;

    @include mobile {
      width: 100%;
    }

    .Dashboard-header {
      width: 97%;
      padding: 25px 32px 10px 32px;
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: baseline;
        align-items: flex-end;
        padding: 20px 25px 0 25px;
        width: 100vw;
        margin: 10px 0 0 0;
      }

      .Dashboard-current {
        @include mobile {
          margin: 60px 0 0 10px;
        }

        .Dashboard-current-header {
          font-size: 2.3rem;
        }

        .Dashboard-current-path {
          font-size: 0.88rem;
          padding: 10px 0;
          cursor: default;

          span {
            font-weight: 500;
            opacity: 0.5;
          }

          .Chevron-right {
            background-color: var(--color-secondary);
            margin: 0 5px;
            transform: translateY(3px);
          }
        }
      }

      .Dashboard-header-info {
        transform: translateY(-10px);
        @include flex-row;
        align-items: center;

        @include mobile {
          padding: 20px 0;
          position: absolute;
          right: 40px;
          top: 20px;
        }

        .Activities-menu {
          font-size: 0.9rem;

          .Drop-down-label-choice {
            background-color: var(--color-primary);
            color: var(--color-light);
            border-radius: 200px;
            padding: 14px 28px;
          }

          .Icon {
            background: var(--color-light);
            height: 0.75rem !important;
            width: 0.75rem !important;
          }

          .Drop-down-choices {
            width: 163px;
            margin-top: 1px;
            left: 15px;

            .Drop-down-choice {
              margin: 5px 0;
            }
          }
        }

        .Dashboard-notification {
          height: 20px;
          width: 20px;
          margin: 0 20px;
          filter: saturate(1.5);
          transition: 0.4s all ease-in-out;

          .Bell {
            background: var(--color-grey-text);
            height: 1.2rem !important;
            width: 1.2rem !important;
          }

          &.New-notification {
            animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s 2
              both;
            cursor: pointer;

            &::after {
              content: "_";
              color: transparent;
              background: $fireRed;
              border-radius: 50%;
              width: 6px;
              height: 6px;
              font-size: 0.01rem;
              display: inline-block;
              border: solid $pureWhite;
              border-width: 2px;
              position: absolute;
              left: 11px;
              box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.3);
              top: 2px;
            }

            &:hover > .Dashboard-notification-list {
              @include visible;
              top: 28px;
            }
          }

          .Dashboard-notification-list {
            @include drop-down-menu;
            @include dashboard-drop-down-small;
            top: 21px;
            right: -56px;

            &::before {
              @include dashboard-drop-down-small-arrow;
            }

            &::first-letter {
              font-weight: initial !important;
              margin-right: 2px;
              color: $fireRed;
            }
          }
        }

        .Dashboard-profile-img {
          background-image: url("../assets/jpgs/profile-pic.jpg");
          background-size: cover;
          background-position: center;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          cursor: pointer;

          &:hover > .Dashboard-profile-menu-list {
            @include visible;
            top: 67px;
          }

          .Dashboard-profile-menu-list {
            @include drop-down-menu;
            @include dashboard-drop-down-small;
            position: absolute;
            top: 52px;
            right: -52px;
            transition: all 0.2s ease-in-out;

            @include mobile {
              width: 95px;
              right: -33px;
            }

            &::before {
              @include dashboard-drop-down-small-arrow;

              @include mobile {
                right: 37px;
              }
            }

            .Dashboard-profile-menu-list-item {
              padding: 10px 0;
              @include bottom-border;
              font-size: 0.85rem;
              color: var(--color-grey-text);

              @include mobile {
                font-size: 0.8rem;
              }

              &:hover {
                @include dashboard-il-hover;
              }

              &:first-of-type {
                padding: 5px 0 10px 0;
              }

              &:last-of-type {
                border: none;
                padding: 10px 0 5px 0;
              }
            }
          }
        }
      }
    }
  }
}
