* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--color-background);

  @include mobile {
    &.Open {
      overflow: hidden !important;
    }
  }
}

h1,
h2,
h3 {
  color: var(--color-grey-text);
}

select {
  -webkit-appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

option {
  text-align: center;
}

ul {
  list-style: none;

  li {
    cursor: pointer;
  }
}

div {
  -webkit-tap-highlight-color: transparent;
}
