.Nav-panel-container {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 999;
  display: flex;
  transition: all 0.2s cubic-bezier(0.24, 1.01, 0.68, 1.39);

  @include mobile {
    visibility: hidden;
    width: 0px;

    &.Open {
      width: 100vw !important;
      visibility: visible;
    }
  }

  &.Open {
    width: 210px;

    .Nav-panel {
      width: 210px;

      @include mobile {
        width: 230px;
      }

      .Nav-menu-item {
        &::after {
          opacity: 1;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .Nav-panel {
    height: 100%;
    width: 80px;
    background-color: var(--color-primary);
    color: var(--color-primary-text, $offWhite);
    text-shadow: 0 0 1px var(--color-primary-text, $offWhite);
    overflow-y: auto;

    @include mobile {
      padding-left: 20px;
    }

    .Nav-menu-item {
      &::after {
        opacity: 0;
        content: "";
        transition: none;
        transition-delay: 0s;
      }
    }

    .Nav-panel-logo {
      margin: 30px auto 50px auto;
      text-align: center;
      font-size: 0;
      color: transparent;

      .Nav-panel-svg-logo {
        width: 60%;
        height: 100px;

        path {
          fill: var(--color-primary-text, $offWhite);
        }
      }
    }

    .Nav-menu-item {
      text-align: left;
      margin: 30px auto 30px 30px;
      transition: all 0.1s ease-out !important;
      font-size: 1rem;

      &::after {
        transition: all 0.5s ease-in-out;
      }

      &::before {
        content: "_";
        padding: 0px 4px;
        mask-size: 100% !important;
        mask-position: center !important;
        mask-repeat: round !important;
        color: transparent;
        margin-right: 20px;
        background-color: var(--color-primary-text, $offWhite);
      }

      &:hover {
        filter: invert(1);
        transition: all 0.3s ease-in-out;
      }
    }

    .Accounts {
      &::after {
        content: "Accounts";
      }

      &::before {
        mask: url("../assets/svgs/accounts.svg");
      }
    }

    .Ledger {
      &::after {
        content: "Ledger";
      }

      &::before {
        mask: url("../assets/svgs/ledger.svg");
      }
    }

    .Finance {
      &::after {
        content: "Finance";
      }

      &::before {
        mask: url("../assets/svgs/finance.svg");
      }
    }

    .Learn {
      &::after {
        content: "Learn";
      }

      &::before {
        mask: url("../assets/svgs/learn.svg");
      }
    }

    .Marketplace {
      &::after {
        content: "Marketplace";
      }

      &::before {
        mask: url("../assets/svgs/marketplace.svg");
      }
    }

    .Nav-menu-upper {
      margin-bottom: 150px;
    }

    .Nav-menu-lower {
      opacity: 0.8;
    }
  }

  .Close-click-area {
    display: none;

    @include mobile {
      height: 100%;
      width: calc(100vw - 230px);
      position: absolute;
      left: 230px;

      &.Open {
        display: block;
        animation: dim-area-right-of-nav 0.3s ease-in 0.3s 1 both;
      }
    }
  }
}

.Floating-nav-button {
  visibility: hidden;

  @include mobile {
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 35px;
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    padding: 12px 27px;
    border-radius: 25px;
    @include flex-row;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    animation: nav-button-rise 0.5s cubic-bezier(0.24, 1.01, 0.68, 1.39) 1.1s 1
      forwards;
    z-index: 400;
    transform: translate(-17px, 70px);
    transition: 0.5s all cubic-bezier(0.24, 1.01, 0.68, 1.39);
  }

  &.Open {
    transition: 0.4s all ease-in-out;
    @include hidden;
    margin-left: 100vw !important;
  }

  .Floating-nav-button-label {
    font-size: 1rem;
  }

  .Floating-nav-button-icon {
    width: 26px;
    height: 3px;
    background-color: var(--color-primary-text, $offWhite);
    border-radius: 4px;
    margin: 2px 0 0 17px;

    &::before {
      @include floating-nav-button-icon;
      width: 70%;
      transform: translate(-17px, 6px);
    }

    &::after {
      @include floating-nav-button-icon;
      width: 55%;
      transform: translate(-17px, -8px);
    }
  }
}
