html {
  --color-background: #fafafa;
  --color-primary-text: #f2f2f2;
  --color-primary: #6747c7;
  --color-secondary: #7c56f0;
  --color-grey-text: #777777;
  --color-light: #ffffff;
  --color-gray: #c4c4c4;
  --color-royal-blue: #0331bc;
}

html.dark {
  --color-background: #2e2e2e;
  --color-light: #181818;
  --color-primary-text: #1a1a1a;
  --color-grey-text: #f4f4f4;
}

//Colors
$offWhite: #fafbfd;
$pureWhite: #fff;
$heatherGrey: #9ea2a7;
$regularGrey: #6e6e6e;
$endorGreen: #425f5f;
$powderBlue: #e8f0fa;
$activeThemeBorder: #5d81ec;
$royalBlue: #0331bc;
$suggestTheme: #cacaca;
$vantaBlack: #000;
$fireRed: #cc0000;
