//Colors
$offWhite: #fafbfd;
$pureWhite: #fff;
$heatherGrey: #9ea2a7;
$regularGrey: #6e6e6e;
$endorGreen: #425f5f;
$powderBlue: #e8f0fa;
$activeThemeBorder: #5d81ec;
$royalBlue: #0331bc;
$suggestTheme: #cacaca;
$vantaBlack: #000;
$fireRed: #cc0000;