.Icon {
  display: inline-block;
  mask-size: contain !important;
  mask-position: center !important;
  mask-repeat: no-repeat !important;

  &.Bell {
    mask: url("../../../assets/svgs/bell.svg");
  }

  &.Chevron-right {
    mask: url("../../../assets/svgs/chevron.svg");
    //transform: rotate();
  }

  &.Info {
    mask: url("../../../assets/svgs/info.svg");
  }
}
